.contact {}
.contact-dark .profile-img{
  border: 2px solid gray;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  text-align: center; 
}
.contact-light .profile-img{
  border: 2px solid rgb(63, 63, 63);
  border-radius: 50%;
  width: 230px;
  height: 230px;
  text-align: center; 
}
.profile-img img{
  width: 220px;
  height: 220px;
  margin-top: 3px;
}
.contact-dark {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  background-color: #222f4b;
  color: #fff;
  padding-bottom: 340px;
}
.contact-light {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  background-color: #eeeeee;;
  padding-bottom: 340px;
  color: #0000;

}
.contact-heading a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.contact-heading a:hover{
  color: white;
}
.contact-dark .contact-heading a{
  background-color: rgb(63, 182, 142);
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  padding: 10px 10px;
  padding-bottom: 5%;
  border-radius: 10px;
}
.contact-light .contact-heading a{
  background-color: rgb(48, 136, 148);
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  padding: 10px 10px;
  padding-bottom: 5%;
  border-radius: 10px;
}


.contact-form input {
  width: 100%;
  font-size: 18px;
  display: block;
}


.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
  