.project-dark {
  background-color: #171c28;
}

.text-dark {
  background-color: #fff;
  display: block;
  overflow: hidden;
}

.portfolio {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.portfolio img {
  height: 200px;
  transition: all 1s;
}
.portfolio img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}