.project-dark{
    background-color: #171c28;
}
.text-dark{
    background-color: #fff;
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
  }
  .work-dark{
      color: block;
  }
  .work-box:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }
  
  
